.special-card {
  /* create a custom class so you
     do not run into specificity issues
     against bootstraps styles
     which tends to work better than using !important
     (future you will thank you later)*/

  background: url("/src/assets/img/blur-bg.jpg");

  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  color:#ffffff;
  font-family: Helvetica;

}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(245, 245, 245, 0.2);
}
